<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="cabecera-plantilla">
        <title>Procesamiento de clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="titulo-ppal-blog">
            <h1>Titulo principal de la pagina</h1>
        </section>
        <section th:fragment="seccion-secundaria-blog">
            <article>
                <h3>Titulo secundario de la pagina</h3>
            </article>
        </section>
        <footer th:fragment="pie-pagina-ppal">
            Derechos de autor 36 @2024
            <p>
                <a href="https://www.tps36.co">TPS 36</a>
            </p>
        </footer>
    </body>
</html>
